#containerAddReview{
    height: 50vh;
}


.onIMReview{
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.582); 
    padding-left: 5%;
    
}

.commentReview{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    width: 100%!important;
    height: 70%!important;  
}

.CenterStart{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.commentReview:hover, .commentReview:focus{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}

.onCommentStarsReview{
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.582);
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
}