#containerAddReview{
    margin-left:15px;
   
}


.container-modals-review{
    background-color: #184F5F;
    position: relative;
    width: 50vw;
    height: 90vh;
    align-items: initial !important;
    right: 3rem;
}

.onIMReview{
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.582); 
    padding-left: 5%;
    
}

.commentReview{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
    width: 90%!important;
    height: 70%!important;  
}

.CenterStart{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.commentReview:hover, .commentReview:focus{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}

.onCommentStarsReview{
    width: 100%;
    height: 90%;
    background:rgba(0, 0, 0, 0.582);
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
 
}
.onCommentStarsReview2{
    width: 100%;
    height: 90%;
    background:rgba(0, 0, 0, 0.582);
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 320px;
    margin-bottom: 20px;
  
}

.container-modals2{
    background-color: #184F5F;
    position: relative;
    width: 70vw;
    height: max-content;
    align-items: initial !important;
    right: 8rem;
}