#containerAddReview{
    margin-left:15px;
   
}


.container-modals-review{
    background-color: #184F5F;
    position: relative;
    width: 50vw;
    height: 90vh;
    align-items: initial !important;
    right: 3rem;
}

.onIMReview{
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.582); 
    padding-left: 5%;
    
}

.CenterStart{
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.commentReview:hover, .commentReview:focus{
    background-color: rgba(0, 0, 0, 0.37);
    color: white;
}

.onCommentStarsReview{
    width: 80%;
    height: 350px;
    background:rgba(0, 0, 0, 0.7);
    text-align: center;
    font-weight: 100;
    font-size: 1rem;
    margin: 1rem 0;
    color: aliceblue;
}

.container-modals2{
    background-color: #184F5F;
    position: relative;
    width: 70vw;
    height: max-content;
    align-items: initial !important;
    right: 8rem;
}