.title-detail-room{
    background:rgba(0, 0, 0, 0.63);
    height: 60px;
    text-align: center;
    padding: 20px;
}
.carousel-caption-details-room{
    width: 100vw !important;
    right: 0 !important;
    left: 1.5rem !important;
}