#owneReContainer{
    border:1px solid white ;
    margin: .6rem .6rem -1.2rem .6rem;
}


#ownRes{
    background-color:#5E554C;
}

#btnYeOwnR{
    font-weight: 700;
    font-size: 1rem;
    padding: .2rem 1rem;
}
