
#owneReContainer{
    border:1px solid white ;
    margin: .6rem .6rem;
    height: 37vh ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.white-border-min-heigth{
    min-height: 20rem;
}

.ddetai-img-room{
    height: 60vh;
    width: auto;
    object-fit: cover;
}


.ownRes{
    background-color:#5E554C;
    height: 40vh !important;
    margin-bottom: 1rem;
}

.reviesRes{
    background-color:#5E554C;
    height: 38vh !important;
    margin-bottom: 5rem;
}

.btnYeOwnR{
    background-color: #FFDE59;
    color: #4C4535;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    padding: .2rem 1rem;
    margin: 0 1rem;
}

.btnYeOwnR:hover{
    background-color: #ffde5900;
    color: white;
    border-color: #FFDE59;
}

.btnYeOwnR2{
    font-weight: 700;
    font-size: 1rem;
    padding: .2rem 1rem;
    width: 20rem;
}

.rewImgRe{
    height: 3rem;
    width: 3rem;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%; 
}

#reviwsRC{
    height: 18.2vh;
}

#titleRewsRes{
    background-color: rgba(0, 0, 0, 0.514);
}

#oRBox{
    z-index: 100;
    top: 62%;
    left: 2%;
    position: absolute;
}

#detailsDetails{
   // height: 37vh !important;
    left: 20%;
}

.roomiesLink{
    background-color: rgba(0, 0, 0, 0.5);
    width: 13rem;
    height: 20rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.329) 1.95px 1.95px 2.6px;
    object-fit: cover;
    object-position: center center;
}

#ownerIMG{
    border-radius: 100%;
    height: 15rem;
    width: 15rem;
    background-size:cover;
    //box-shadow: rgba(0, 0, 0, 0.329) 1px 1px 2px;
    object-fit: cover;
    object-position: center center;
}

.imgCorrentRom{
    width: 3.5rem;
    height: 4rem;
    border-radius: 100%;
    object-fit: cover;
    object-position: center center;
    margin: 1rem;
}

.imgCorrentRom:hover{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

#idescriptionRoomDetail {
    margin-left: 25rem !important;
}

#containerDetailDetail{
    height: 30vh !important;
}

.title-detail-room{
    background:rgba(0, 0, 0, 0.63);
    height: 60px;
   
    text-align: auto;
    padding: 20px;
}

.carousel-caption-details-room{
    width: 95vw !important;
    right: 0 !important;
    left: 1.5rem !important;
}

.caroPriceCustom{
    background:rgba(0, 0, 0, 0.73);
    margin-top: 210px;
    padding-top: 12px;
    padding-left: 10px;
    width: 20vw;
}

.starCaroCustom{
    margin-top: 210px;
    background:rgba(0, 0, 0, 0.73);
    height: 60px;
    padding-top: 15px;
    padding-left: 30px;
    width: 45vw;
}

.spiner-loading-data{
    top: 40%;
    left: 48%;
    position: absolute;
}