.favoritesBg{
    background: #184F5F;
    width: 60%;
    height:max-content ;
}
.favoritesPic{
    max-width: 450px;
    max-height: 200px;
}
.favButton{
    border: black;
}
.favButton:hover{
    border-color: #FFDE59;
    background: #FFDE59;
}