.favoritesBgr{
    background: #184F5F;
    width: 100vw;
    height:max-content ;
    min-height: 85vh;
}
.fvSecondBg{
    margin:10px;
    background: white;
}


.favoritesBg{
    background: #BCC7C1;
    width: 60%;
    margin: auto;
    height: 200px;
    
}
.picBar{
height: 200px;
padding:10px;
}

.favoritesPic{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.favButton{
    border: black;
    margin-left: 40px;
    margin-top:70px;
}
.favButton:hover{
    border-color: #FFDE59;
    background: #FFDE59;
}
.favPrice{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;

}
.favTitle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
}