.divfooter{
    background-color: rgba(12, 12, 12, 0.699);
    height: 40vh;
   
}
.footMap{
    margin-left: 80px;
}

.social-media{
    padding-top:37px;
    padding-left: 250px;
    margin-top: 2rem;
}

.footer-adress{
    margin: 8rem 0 1rem 2rem;
    opacity: 0.5;
}

.a-link-footer{
    color: white;
}

.a-link-footer:hover{
    color: #FFDE59;
}