.divfooter{
    background-color: rgb(104, 102, 102);
   
}
.footMap{
    margin-left: 80px;
}

.footerTitle{
    padding-top:37px;
    padding-left: 250px;
}

.footerAddress{
    padding-top: 27px;
    padding-left: 350px;
}