
#logo{
    width: 65%;
    height: 50%;
    margin-left: 2rem;
}
#marron{
    background-color:#4C4535;
    padding: 0.7rem;
}
#amarillo{ 
    background-color:#FFDE59;
}

.btn:hover{
    color: white!important;
    font-weight: bold;
}
