#myNab{
    padding: 0%;
    font-weight: 700;
    height: 15%;
}

#logo{
    width: 80%;
    margin-left: 4rem;
    // Para que el logo se vea mejor
    filter: drop-shadow(0px 0px 0px black);
}
#brown{
    background-color:#4C4535;
    padding: 0.7rem;
}
#yellow{ 
    background-color:#FFDE59;
}

.btn-navb:hover{
    color: #f7c606!important;
    text-decoration: overline;
    border-color:none!important;
}

.btn-navb:focus {
    box-shadow: none;
}

.my-active{
    background-color: none !important;
    color:  #f7c606 !important;
}
