#locationTab, #descriptionTab, #picsTab, #previewTab{
   
    height: 530px;
    
}
.noLink{
    text-decoration: none !important; 
    color:black!important;
}
.active{
    background:#C4C4C4 !important;
}

.fontInput{
    font-size: x-large;
}
.fontInputSm{
    font-size: large;
}
.inputNumber{
    width: 30%;
}
.mapsPic{
    height:315px;
}
.descriptionBack{
    background: #ced4da;
}
