#locationTab, #previewTab{
   
    height: 570px;
    
}
#descriptionTab{
    height: 650px;
}
#picsTab{
    height: 430px;
}
.noLink{
    text-decoration: none !important; 
    color:black!important;
}
.active{
    background:#C4C4C4 !important;
}

.fontInput{
    font-size: x-large;
}
.fontInputSm{
    font-size: x-large;
}
.inputNumber{
    width: 30%;
}
.mapsPic{
    height:315px;
}
.descriptionBack{
    background: #ced4da;
}
.addPic{
   background-image: url("../img/addPic.png");
   background-repeat: no-repeat;
   background-size: 50px;
   background-position: center;
   width: 14rem;
   height:14rem;
}
.fixNewBtn{
    margin-top:50px;    

}
.lastBtn{
    width:200px;
    height:75px;
    margin-top: 170px;
}

.map-nuew-room{
    padding-top: 3rem;
    margin-left: 14rem ;
}