.detalle{
    background-color:rgba(0, 0, 0, 0.295);
    margin: 1%;
}
.form-group{margin: 1%;
}
.form-groupedit{
    margin: 8%;
    
}
.form-inputs{
    margin-left: 15%;
    width: 420px;
    padding: 15px;
    height: 5%;
}
.pic{
    background-repeat: repeat;
    background-image: url("../img/cama.png");
}
#texto{
    color: white;
     text-align: left;
    opacity: 5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.imgperfil{
    width: 550px;
    height: 590px;
    padding: 9%;
}
.imputTell{
    margin: 5%;
}
.divfooter{
    background-color: rgb(104, 102, 102);
    color: white;
}
