.tableeditusu{
    margin: 5%;
}
.detalle{
    background-color:rgba(0, 0, 0, 0.295);
    margin: 1%;
    padding: 1%;
}
.form-group{margin: 3%;
}
.form-groupedit{
    margin: 8%;
    
}
.form-inputs{
    width: 420px;
    padding: 15px;
    height: 5%;
}
.pictureediperfile{

    background: no-repeat;
    -ms-flex-item-align: center;
    background-color: rgba(206, 163, 163, 0.781);
    align-content: center;
     background-image: url("../img/cama.png"); 
    background-size: cover; 
    background-position: right bottom; 
}
.textoeditusu{
    color: white;
    text-align: left;
    opacity: 5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}
.imgperfil{
    width: 100%;
    height:  70%;
    padding: 11%;
}
.imputTell{
    margin: 2%;
}

.divfooter{
    background-color: rgb(104, 102, 102);
    color: white;
}

