//.detalle{
//    background-color:rgba(0, 0, 0, 0.295);
    //margin: 1%;
    //padding: 3% 2%;
//}
//.form-group{margin: 3%;}
// .form-groupedit{
//     margin: 8%;
// }
.inputeditusu{
    width: 420px;
    padding: 15px;
    height: 5%;
    float: right !important;
    
}

.detallefondblackEditarPerfil{
    background-color:rgba(0, 0, 0, 0.541);
    padding: 2%;
}

#myContainerFormInputs{
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    background-color: #0808086c;
}

.pictureediperfile{
    background: no-repeat;
    -ms-flex-item-align: center;
    background-color: rgba(206, 163, 163, 0.781);
    align-content: center;
    background-image: url("../img/cama.png"); 
    background-size: cover; 
    background-position: right bottom; 
}
.textoeditusu{
    color: white;
    text-align: center;
    opacity: 5;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin: 1%;
    padding: 1%;   
}
.imgperfil{
    width: 100%;
    height:  80%;
    padding: 9%;
}

#detalleIMG{
    background-color: rgba(8, 8, 8, 0.589);
}



