#recoPassForm{
    background:rgba(0, 0, 0, 0.5);
    margin-top: 5rem;
    height: 80%;
}


#recoverPassImg{
    background: url("../img/recoverPass.png") border-box no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
}

.btnYellow2{
    background-color: #FFDE59;
    color: #4C4535;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    padding: .5rem 2rem;
}

.btnYellow2:hover{
    background-color: #ffde5900;
    color: white;
    border-color: #FFDE59;
}