

*{
    border: dashed 1px red;
}
.top{
    background-color: gray;
    opacity: 80%;
    z-index: 6;
    border-radius: 30px;
    text-align: center;
}
.secondary{
    background-color: gray;
    opacity: 80%;
    z-index: 6;
    border-radius: 30px;
    text-align: center;
}
.review-box{
    background-color: lightgrey;
    opacity: 90%;
    z-index: 9;
}
.review{
    margin: 5px 0px;
}
.out{
    background-image: url("cama.png");
}