.myContainer{
    background-color: #184F5F;
    margin-left: 7rem;
    padding: 3rem 0;
    position: relative;
}

.singUpBox{
    background-color: #a8433e;
}

img{
    width: 349px;
    height: 349px;
}