@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');


#myContainer{
    background-color: #184F5F;
    margin-left: 11rem;
    padding: 3rem 0;
    position: relative;
    width: 72vw;
    height: 100vh;
}

h1{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    margin-left: -1rem;
}

#put{
    margin-left: -2.5rem;
}

.myYellowText{
    color: #FFDE59;
}

img{
    width: 220px;
    height: 220px;
}

#imgFlower{
    z-index: 100;
    margin-left: 7rem;
}

#tooEasy{
    background-color: #a8433e;
    width: 6rem;
    height: 5rem;
    margin-top: 5rem;
    border-radius: 10px 0 0 10px;
}
#tooEasyText{
    font-size: 1.5rem;
}

.singUpBox{
    background-color: #a8433e;
    margin-top: 2rem;
    height: 75vh;
    width: 90vw;
}

form{
    margin-top: -1rem;
}

input{
    background-color: #D9D9D7!important;
    border: none;
    padding: .5rem;
    caret-color:rgb(252, 185, 1);
    color: #332c1d;
}

input:focus {
    outline: none !important;
    border:1px solid rgb(255, 217, 0);
    box-shadow: 0 0 10px rgb(233, 235, 136)inset;
}

.btnYellow{
    background-color: #FFDE59;
    color: #4C4535;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    padding: .5rem 2rem;
    
}

.btnYellow:hover{
    background-color: #ffde5900;
    color: white;
    border-color: #FFDE59;
}

.iconClose{
    margin-top: -1rem;
    margin-right: -2rem;
}