.myContainer{
    background-color: #184F5F;
    margin-left: 7rem;
    padding: 3rem 0;
}

.singUpBox{
    background-color: #A8443E;
}

#room3{
    position: relative;
}

#imgr3{
    position: absolute;
    top: 50%;

}