.picturefond{
    background: no-repeat;
    -ms-flex-item-align: center;
    background-color: rgba(206, 163, 163, 0.781);
    align-content: center;
    background-image: url("../img/camafondeperfil.png"); 
    background-size: cover;  
}

.pictureprofile1{
    -ms-flex-item-align: center;
    align-content: center;
    width: auto;
    object-fit: cover;
    height: 9px;
    padding: 1%;
    display: inline;}

.detallefondblack{
    background-color:rgba(0, 0, 0, 0.541);
    margin: 1%;
    padding: 5%;
}

.avatar-profile{
    object-fit: cover;
    object-position: center center;
    margin-bottom: .5rem;
}

#presentationUser{
    height: 22rem;
}
.dicprofile{
    width: 10px;
    height: 9px;
    padding: 1%;
}
.start{
    color: yellow;
    width: 20px;
    height: 20px;
}
.block{
    display: block;
}
.buttonfondblack{
    background-color:rgba(0, 0, 0, 0.541);
    margin: 14%;
    padding: 5%;
    width: 100%;
}
.contentfondblack{
    background-color:rgba(0, 0, 0, 0.603);
    margin: 4%;
    padding: 2% 5% 2% 5%;
}
.textbuttons{
    font-size: small;
    color: white;
}

#containerOptionsProfile{
    height: 100vh;
}

.btnapllyroom{
    padding: 0%;
}

.yellow-icon{
    color: #FFDE59;
}

.btn-options-profile:hover{
    color:#FFDE59 !important;
}

.notifications-bell{
    color: #FFDE59!important;
}